* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

.watch-name {
  font-size: 17px;
}

.watch-price {
  font-size: 15px;
}

.header {
  padding: 25px;
  width: 100%;
  box-shadow: 0 0 20px -5px black;
}
.header h1 {
  color: rgb(26, 6, 73);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 23px;
}

.showcase {
  background-image: url(/images/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
.showcase .showcase-content {
  padding: 430px 0 0 50px;
}
.showcase .showcase-content h2 {
  color: rgb(26, 6, 73);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
}
.showcase .showcase-content button {
  background-color: rgb(26, 6, 73);
  border: none;
  padding: 15px 35px;
  border-radius: 3px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  color: white;
}
.showcase .showcase-content button:hover {
  background-color: rgba(26, 6, 73, 0.485);
  transition: ease-in-out 0.2s;
}

.mens {
  width: 100%;
}
.mens .mens-content {
  background-color: white;
  padding: 50px 0 20px 30px;
}
.mens .mens-content h2 {
  color: rgb(81, 121, 158);
  font-size: 65px;
  letter-spacing: 3px;
}
.mens .mens-content button {
  border: solid 1px black;
  background-color: rgb(26, 6, 73);
  padding: 16px 30px;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  border: none;
}
.mens .mens-content button:hover {
  background-color: rgba(26, 6, 73, 0.485);
  transition: ease-in-out 0.3s;
}
.mens .men-watch-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  background-color: rgb(81, 121, 158);
  margin: auto;
  padding-bottom: 20px;
  width: auto;
}
.mens .men-watch-content img {
  width: 45vw;
  margin: auto;
}
.mens .men-watch-content p {
  text-align: center;
}
.mens .men-watch-content img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.woman {
  width: 100%;
}
.woman .woman-content {
  background-color: white;
  padding: 50px 0 20px 30px;
}
.woman .woman-content h2 {
  color: rgb(227, 101, 122);
  font-size: 65px;
  letter-spacing: 3px;
}
.woman .woman-content button {
  border: solid 1px black;
  background-color: rgb(26, 6, 73);
  padding: 16px 30px;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  border: none;
}
.woman .woman-content button:hover {
  background-color: rgba(26, 6, 73, 0.485);
  transition: ease-in-out 0.3s;
}
.woman .woman-watch-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  background-color: rgb(227, 101, 122);
  margin: auto;
  padding-bottom: 20px;
  width: auto;
}
.woman .woman-watch-content img {
  width: 45vw;
  margin: auto;
}
.woman .woman-watch-content p {
  text-align: center;
}
.woman .woman-watch-content img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

footer {
  padding: 15px;
  text-align: center;
}
footer a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  color: rgb(26, 6, 73);
}

.item {
  width: 85%;
  margin: auto;
}
.item .item-name {
  margin: 0 0 3px 30px;
  font-size: 18px;
  margin-top: 35px;
}
.item .big-pic {
  background-image: url(/images/mw1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 380px;
  margin: auto;
  box-shadow: 0 0 15px -5px black;
  border-radius: 10px;
  position: relative;
}
.item .big-pic .item-number {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.item .other-pictures {
  display: flex;
  margin-left: 21px;
}
.item .other-pictures img {
  width: 75px;
  box-shadow: 0 0 10px -5px black;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.item .other-pictures img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
  opacity: 0.6;
}
.item .item-info {
  margin-left: 50px;
  margin-top: 50px;
}
.item .item-info li {
  font-size: 19x;
  margin-top: 18px;
  color: rgb(26, 6, 73);
}/*# sourceMappingURL=style.css.map */